services:
  postgres:
    image: postgres:18
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: development
      POSTGRES_PASSWORD: postgres
    volumes:
      - storage:/var/lib/postgresql
    restart: always
  redis:
    image: redis:8.4-rc1
    ports:
      - "6379:6379"
    restart: always
volumes:
  storage:
