services:
  postgres:
    image: postgres:18
    ports:
      - "${POSTGRES_PORT}:5432"
    environment:
      - POSTGRES_USER=${POSTGRES_USER?}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD?}
      - POSTGRES_DB=${POSTGRES_DB?}
    volumes:
      - storage:/var/lib/postgresql
    restart: always
  redis:
    image: bitnami/redis:latest
    ports:
      - "${REDIS_PORT}:6379"
    environment:
      - REDIS_PASSWORD=${REDIS_PASSWORD?}
    restart: always
volumes:
  storage:
