services:
  postgres:
    image: postgres:18
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=development
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=hello
    volumes:
      - storage:/var/lib/postgresql
    restart: always
  redis:
    image: bitnami/redis:latest
    ports:
      - "6379:6379"
    environment:
      - REDIS_PASSWORD=redis
    restart: always
volumes:
  storage:
