:root {
  --max-width: 1280px;
  --padding: 2rem;
  --text-color-muted: #888;
  --shadow-blue: #646cffaa;
  --shadow-react: #61dafbaa;
}

#root {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: var(--padding);
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  transition: filter 300ms ease;
  will-change: filter;
}

.logo:hover {
  filter: drop-shadow(0 0 2em var(--shadow-blue));
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em var(--shadow-react));
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo.spin {
    animation: logo-spin 20s linear infinite;
  }
}

.card {
  padding: 2em;
  border-radius: 0.5rem;
}

.read-the-docs {
  color: var(--text-color-muted);
}
